@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-12 mt-4">
            <h3 style=" color: #E9AD28; letter-spacing: 2px;">@localizer["GALERİ"] </h3>
        </div>
    </div>
    <div class="row mt-4">
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/1.jpg" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/1.jpg" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/2.jpg" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/2.jpg" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/3.jpg" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/3.jpg" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/gallery-1.jpg" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/gallery-1.jpg" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/gallery-2.jpg" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/gallery-2.jpg" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/gallery-3.jpg" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/gallery-3.jpg" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/gallery-4.jpg" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/gallery-4.jpg" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/gallery-5.jpg" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/gallery-5.jpg" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/007.JPG" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/007.jpg" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/gallery-6.jpg" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/gallery-6.jpg" style="width:100%; height:100%;" />
            </a>

        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/006.JPG" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/006.jpg" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/gallery-8.jpg" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/gallery-8.jpg" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/gallery-9.jpg" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/gallery-9.jpg" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/008.JPG" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/008.JPG" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/009.JPG" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/009.JPG" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/011.JPG" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/011.JPG" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/012.JPG" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/012.JPG" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/015.JPG" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/015.JPG" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/017.JPG" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/017.JPG" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/019.JPG" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/019.JPG" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/022.JPG" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/022.JPG" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/025.JPG" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/025.JPG" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/026.JPG" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/027.JPG" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/029.JPG" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/029.JPG" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/032.JPG" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/032.JPG" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/031.JPG" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/031.JPG" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/033.JPG" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/033.JPG" style="width:100%; height:100%;" />
            </a>
        </div>
        <div class="Gitem col-sm-6 col-md-3 mb-3">
            <a href="~/galeri/gallery-7.jpg" class="fancybox" data-fancybox="gallery1">
                <img src="~/galeri/gallery-7.jpg" style="width:100%; height:100%;" />
            </a>
        </div>

    </div>
</div>